@import "header";
@import "font_size";
@import "hero";
@import "about";
@import "paintings";

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Oswald', sans-serif;
    color: #235742;
}
.container {
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
